html {
	height: 100%;
}

body {
	background-image: url(images/map.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

div	{
	width: 64px;
	height: 64px;
	background-image: url("images/character.png");
	position: absolute;
}